@media (max-width: 1460px) {

  .development-process__steps-item::after {
    display: none;
  }
}

@media (max-width: 1330px) {

  .about-me__content {
    max-width: 760px;
  }

  .footer {

    .footer__contacts-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;
    }

    .footer__menu-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
  }
}

@media (max-width: 1150px) {

  .menu__list {
    gap: 34px;
  }

  .header {
    font-size: 15px;
  }

  .about-me__content {
    max-width: 680px;
  }

  .about-me__text {
    font-size: 16px;
    line-height: 1.8;
  }

  .modal-success__content {
    padding: 180px 230px;
  }
}

@media (max-width: 1040px) {

  .menu__list {
    gap: 30px;
  }

  .header {
    font-size: 14px;
  }
}

@media (max-width: 1020px) {

  .header__btn {
    display: inline-block;
    position: absolute;
    z-index: 105;

    @media (hover: hover) {
      &:hover {
        background-color: #3C3C3C;
      }
    }
  }

  .menu .header__lang {
    margin-top: 40px;
  }

  .menu {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3C3C3C;
    padding: 100px 0 100px;
    transform: translateY(-100%);
    transition: transform .5s ease;
  }

  .menu.menu--active {
    transform: translateY(0%);
  }

  .header__logo {
    display: flex;
    margin-left: 125px;
  }

  .menu__list {
    flex-direction: column;
  }

  .menu__link {
    transition: none;
  }

  .menu__link::after {
    display: none;
  }

  .menu__link:hover {
    color: inherit;
  }

  .about-me__content {
    font-size: 14px;
  }

  .about-me__title {
    font-size: 36px;
  }

  .error-404__title {
    font-size: 240px;
  }

  .error-404__text,
  .error-404__link {
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 80px;
  }
}

@media (max-width: 990px) {

  .about-me__text {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .portfolio__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .modal-success__content {
    padding: 130px 130px;
  }
}

@media (max-width: 895px) {
  .consultation__content-img {
    display: none;
  }

  .consultation__content {
    padding: 65px 70px;
  }

  .consultation__text {
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 1.5;
  }
}

@media (max-width: 790px) {

  .hero {
    padding-top: 200px;
  }

  .hero__title {
    font-size: 50px;
  }

  .about-me__box {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .about-me__img {
    display: flex;
    order: -1;
    align-items: center;
    justify-content: center;
  }

  .portfolio__card-title {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .portfolio__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .development-process__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .development-process__step-title {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .development-process__step-text {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 15px;
  }

  .development-process__title {
    font-size: 34px;
  }

  .development-process__item-content,
  .development-process__item-text {
    font-size: 14px;
    margin-top: 6px;
    line-height: 1.4;
  }

  .development-process__steps-panel {
    flex-direction: column;
    gap: 60px;
  }

  .development-process__step-text {
    max-width: 580px;
  }

  .questions__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .questions__accordion-head {
    font-size: 20px;
  }

  .questions__accordion-text {
    font-size: 16px;
  }

  .questions__accordion-item {
    font-size: 14px;
  }

  .questions__accordion-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .questions__accordion-item::before {
    width: 6px;
    height: 6px;
    margin: 10px 0px 0px -16px;
  }

  .footer {
    font-size: 14px;
  }

  .footer__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .development-process__steps-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .price__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .price__content-title {
    margin: 30px 0;
    font-size: 28px;
  }

  .price__content-item {
    font-size: 16px;
    line-height: 1.7;
  }

  .price__content-service-cost {
    text-align: center;
    font-size: 28px;
  }

  .consultation__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .consultation__text {
    max-width: 275px;
  }

  .modal__text {
    max-width: 420px;
    margin-bottom: 30px;
    font-size: 16px;
  }

  .modal-success__title {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .modal-success__text {
    font-size: 20px;
    line-height: 1.4;
  }

  .modal-success__content {
    padding: 80px 80px;
  }
}

@media (max-width: 650px) {

  .header__logo {
    margin-left: 50px;
    max-width: 160px;
  }

  .header__icon-phone {
    display: none;
  }

  .hero__text {
    font-size: 20px;
  }

  .hero__title {
    font-size: 40px;
    line-height: 1.7;
  }

  .about-me__title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .price__note {
    font-size: 20px;
  }

  .price__title {
    font-size: 34px;
  }

  .questions__title {
    font-size: 28px;
  }

  .consultation__title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .consultation__content {
    padding: 40px 30px;
  }

  .modal__text {
    max-width: 355px;
    margin-bottom: 26px;
    font-size: 14px;
  }

  .modal__title {
    font-size: 32px;
    margin-bottom: 28px;
  }

  .modal-success__del {
    right: 20px;
    top: 20px;
  }
}

@media (max-width: 570px) {
  .modal__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    gap: 14px 52px;
    justify-content: center;
  }

  .modal__content {
    padding: 30px 5px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 1.6;
  }

  .modal__text {
    max-width: 324px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .modal__link {
    padding: 12px 40px;
    font-size: 14px;
  }

  .error-404__title {
    font-size: 150px;
  }

  .error-404__text,
  .error-404__link {
    font-size: 24px;
    line-height: 1.8;
  }

  .modal-success__content {
    padding: 100px 20px;
  }

  .modal-success__title {
    font-size: 28px;
  }

  .modal-success__text {
    font-size: 14px;
  }

  .modal-success__icon-svg {
    margin-bottom: 36px;
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {

  .hero__title {
    font-size: 30px;
  }

  .hero__text {
    font-size: 17px;
    line-height: 1.9;
  }

  .about-me {
    padding: 60px 0 30px;
  }

  .consultation__text {
    font-size: 14px;
  }

  .portfolio {
    padding: 30px 0 30px;
  }

  .portfolio__card-button {
    padding: 10px 35px;
    font-size: 12px;
  }

  .portfolio__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .development-process__title {
    font-size: 28px;
  }

  .price__content-title {
    margin: 25px 0;
    font-size: 22px;
  }

  .questions {
    padding: 30px 0;
  }

  .questions__accordion-head {
    font-size: 16px;
    line-height: 1.4;
  }

  .questions__accordion-text {
    font-size: 14px;
  }

  .consultation {
    padding: 30px 0 90px 0;
  }

  .portfolio__title {
    font-size: 28px;
  }

  .error-404__svg {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 420px) {

  .header {
    font-size: 12px;
  }

  .header__logo-svg {
    width: 137px;
    height: 30px;
  }

  .hero__elements {
    flex-direction: column;
  }

  .development-process__steps-btn {
    width: 40px;
    height: 40px;
  }

  .development-process__steps-label {
    font-size: 16px;
  }

  .price__content-title {
    margin: 25px 0;
  }

  .price__content-item {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
  }

  .price__content-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .price__note {
    font-size: 18px;
  }

  .consultation__title {
    font-size: 26px;
  }

  .price__title {
    font-size: 26px;
  }
}