<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__branding">
        <a class="footer__logo" href="/">
          <svg class="footer__logo-svg" width="244" height="28">
            <use xlink:href="images/sprite.svg#logo"></use>
          </svg>
        </a>
      </div>
      <nav class="footer__menu">
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#about-me">Про мене</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#portfolio">Портфоліо</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#development-process">Процес розробки</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#price">Прайс</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#questions">FAQ</a>
          </li>
        </ul>
      </nav>
      <div class="footer__contacts-wrapper">

        <div class="footer__social-box">
          <p class="footer__social-title">Соціальні мережі</p>
          <ul class="footer__socials-list">
            <li class="footer__social-item">
              <a class="footer__social-link" href="#">
                <svg class="footer__social" width="24" height="24">
                  <use xlink:href="images/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link" href="#">
                <svg class="footer__social" width="24" height="24">
                  <use xlink:href="images/sprite.svg#viber"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link" href="#">
                <svg class="footer__social" width="24" height="24">
                  <use xlink:href="images/sprite.svg#whatsapp"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <ul class="footer__contacts-list">
          <li class="footer__contacts-item">
            <a class="footer__mail-link" href="mailto:oleg.hrybeniuk95@gmail.com">
              <svg class="footer__icon-mail" width="22" height="22">
                <use xlink:href="images/sprite.svg#mail"></use>
              </svg>
              oleg.hrybeniuk95@gmail.com
            </a>
          </li>
          <li class="footer__contacts-item">
            <a class="footer__phone-link" href="tel:+380999081536">
              <svg class="footer__icon-phone" width="17" height="16">
                <use xlink:href="images/sprite.svg#phone"></use>
              </svg>
              +38(099)-908-15-36
            </a>
          </li>
        </ul>
      </div>
    </div>


  </div>
</footer>
</div>

<script src="js/main.min.js"></script>



</body>

</html>